<h3>Estadísticas</h3>
<p> Preguntas Totales : <%= stats.totalPreguntas %></p>
<p> Preguntas con comentarios: <%= stats.preguntasComentadas %></p>
<p> Preguntas sin comentarios: <%= stats.preguntasNoComentadas %></p>
<p> Comentarios totales: <%= stats.totalComentarios %></p>
<p> Nº medio de comentarios por preguntas <%= stats.promedioComentarios %></p>